rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Match logged in user's state
    match /states/{userId} {
      allow delete, read, write: if isOwner(userId);
    }
  }

  function isOwner(userId) {
    return request.auth != null && request.auth.uid == userId;
  }
}
